 
body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;

}
header{
    height: 5%;
    width: 100%;
    background-color: rgb(15, 15, 15);
}
main{
    height: 95%;
    width: 100%;
    background-color: rgb(36, 36, 36);
}
.page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.page > div {
    width: 46%;
    min-width: 500px;
    height: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.page1-1{
    display: flex;
    flex-wrap: wrap;
}
.page1-1 > a{
margin-left:5% ;
width: 20%;
height: 37%;
margin-top: 5%
}
.page1-1 > a > div{
    height: 100%;
    min-width: 100px;
    width: ;
    background-color: black;
}
.page1-4{
    display: flex;
    flex-wrap: wrap;
    

}
.page1-4 > div{
    margin-top: 10%;
    margin-left: 14%;
    background-color: black;
    height: 70%;
    width: 30%;
}